*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato' sans-serif;
}

/* nav bar styling */

/* styling for the nav bar begins*/
nav {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #00aeff;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding: 0 50px;
}

nav>*:not(:nth-child(1)) {
  border-right: 2px solid #fff;
  padding: 0 10px;
}

.logoImg {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-size: x-large;
  margin-right: auto;
}

.whatsapp-icon {
  width: 30px;
}

nav .support {
  background-color: rgb(6, 54, 104);
  margin: auto 10px;
  padding-right: 20px;
  display: flex;
  border-radius: 25px;
  height: 38px;
  text-align: center;
}

.support>img {
  border-radius: 50%;
}

.support-text {
  font-size: .8rem;
  color: rgb(26, 182, 255);
}
.support-text > .dropdown-item {
  padding: 20px 50px;
}
.dropdown-item>i {
  color: #00aeff;
}


#tel {
  font-size: .9rem;
  color: #fff;
  text-decoration: none;
}

nav .currency {
  display: flex;
  align-items: center;
}

.currency>i {
  margin-left: 5px;
}

nav .account {
  display: flex;
  align-items: center;
  border: none;
}

nav .account> * {
  margin-left: 5px;
}

#dropdown-icon {
  position: absolute;
  right: 50px;
  color: #ffff;
}

.dropdown-menu {
  display: none;
  margin-top: 12px;
  border: none;
}

.showDropdown {
  display: block;
  position: absolute;
  background-color: #ffff;
  margin-left: 40px;
  color: #555;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-item #tel {
  color: rgb(6, 54, 104);
  /* padding: 5px; */
}

.showCurrencyDropdown {
  background-color: #fff;
  color: #555;
  right: 40px;
  width: 220px;
  display: block;
  position: absolute;
  font-size: 14px;
  margin-top: 18px;
}

.showCurrencyDropdown>* {
  padding: 0 15px;
}

.showCurrencyDropdown>.dropdown-item {
  line-height: 30px;
}

.dropdown-item:hover {
  color: #fff;
  background-color:rgb(143, 141, 140, 20%);
}

/* Account dropdown */
.account-dropdown-menu {
  display: none;
  width: 200px;
}

.showAccount {
  display: block;
  background-color: #fff;
  position: absolute;
  font-size: 14px;
  color: #464646;
  padding: 20px;
  right: 0px;
  margin-top: 12px;
}

.account-dropdown-menu button {
  background-color: #00aeff;
  width: 170px;
  color: #fff;
  height: 32px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  padding-bottom: 5px;
}
/* nav styling end here */

.hotelAdd_container{
  width: 75%;
  margin: auto;
}
.hotel-add-header{
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 900;
  margin-top: 20px;
  line-height: 1.1; 
  /* padding-left: 15px; */
  padding-right: 15px;
  color: #4f4f4f;
}

.hotel-add-sub-header {
  font-size: 18px;
  color: #4f4f4f;
  font-weight: 500;
  }

.hotel-add {
  margin-top: 20px;
  display: flex;
 justify-content: space-evenly;
 color: #4f4f4f;
}

.hotel-add .main-field {
  max-width: 520px;
}
/* styling for the add hotel form fills */
.main-field {
  /* background-color: aquamarine; */
  height: auto;
  color: #4f4f4f;
  width: 100%;
}
.hotel-info{
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;  
}

.form-group {
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 100%;
  margin-left: auto;
  position: relative;
  color: #4f4f4f
}

label{
  color: #4f4f4f !important;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 5px;
  max-width: 100%;
}

.hotel-add input, .hotel-add select {
  border: 1px solid #bdbdbd;
  box-shadow: none;
  height: 41px;
  border-radius: 4px;
  color: #4f4f4f;
}

.form-control {
  height: 39px;
  outline: 0;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn{
  background-color: #00aeff;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 700;
  border-radius: 4px;
  height: 41px;
  border: 0;
  width: 100%;
  transition: background-color .3s ease-in;
  cursor: pointer;
}



/* styling for the faq */
.faq{
  /* background-color: yellowgreen; */
  border: 1px solid #e2e6e9;
  width: 28vw;
  height: 525px;
 }

.faq .q {
  color: #00aeff;
  font-weight: 700;
  margin-bottom: 5px;
  }

.faq .a {
  padding-left: 0;
  color: #4f4f4f;
  font-size: 14px;
}
p {
  margin: 0 0 10px;
}

.question{
  margin: 10px;
  text-align: justify;
}

.faq-header{
  border: 1px solid #555;
  text-align: center;
  padding: 20px;
  background-color: #F2F2F2;
  color: #4f4f4f;
  font-weight: 700;
  font-size: 18px;
}
